streamlit
pandas
langchain>=0.3
langgraph
langchain-community
langchain-chroma
langchain-core
langchain-ollama
langchain-huggingface
langchain-text-splitters
langsmith
pytesseract
Pillow
python-docx
openpyxl
requests
ollama
transformers
uuid
